html {
    background: url(../images/bg2.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    position: relative;
    box-sizing: content-box;
    text-align: center;
}

.container {
    position: absolute;
    height: 400px;
    width: 600px;
    background-color: black;
    left: 30%;
    margin-top: 10%;
    padding: 10px;
    text-align: center;
}

.question-section {
    height: 100px;;
    width: 590px;
    margin-bottom: 20px; 
    text-align: center;
}

h2 {
    color: white;
    font-size: 35px;
    line-height: 100px;
    padding: 3px; 
}

.answer-section {
    text-align: center;
}

.answer {
    height: 50px;
    width: 590px;
    margin-bottom: 10px;
    text-align: left;
}

.answer:hover {
    background-color: yellow;
}

h5 {
    color: white;
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
    padding: 5px;
}

h5:hover {
    color: black;
}

p {
    color: white;
}

.img {
    width: 200px;
    height: 200px;
}

button {
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;;
    margin-top: 55px;
}

button:active {
    background-color: white;
    color: black;
    transform: translateY(4px);
}



.bordered {
    border-style: solid;
    border-width: 2px;
    border-color: azure;
}